{% extends "layout.html" %}
{% block title %} 
Logs
{% endblock %}
{% block main %}
<div class="table-responsive small">
    <table class="table table-striped table-sm">
        <thead>
            <tr>
                <th class="text-start">Name</th>
                <th class="text-end">Class</th>
                <th class="text-end">Car Plate No</th>
                <th class="text-end">Date</th>
            </tr>
        </thead>
        <tbody>
            {% for log in logs %}
            <tr>
                <th class="text-start"> {{log["real_name"]}}</th>
    
                <th class="text-end"> {{log["CLASS"]}}</th>
    
                <th class="text-end"> {{log["car_plate_no"]}}</th>
    
                <th class="text-end">  {{log["date"]}}</th>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}